:root {
    --blue: #0a0086;
    --black: #000000;
    --red: #ff0000;
    --bg: #eeeeef;
    --yellow: #fdbf00;
    --bg2: #dee2ee;
    --purple: #544dad;
    --green: #00a651;
    --white: #ffffff;
    --big-text: 2em;
    --sub-text: 1.5em;
    --destination: 3em;
    --margin: 0.8%;
}

@font-face {
    font-family: Parisine;
    src: url("../fonts/Parisine-Bold.otf");
}

@font-face {
    font-family: Parisine-regular;
    src: url('../fonts/Parisine-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--black);
    font-family: Parisine;
}

h1 {
    text-transform: uppercase;
    color: var(--blue);
}

.subtitle {
    font-size: small;
    color: var(--black);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    border: 1px solid var(--blue);
    border-radius: 5px;
    padding: 2px;
}

#sommaire a {
    color: var(--blue);
    border: none;
}

a:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

section {
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;
}

#presentation p::first-letter {
    text-transform: uppercase;
    font-size: 2em;
}

table {
    width: 100%;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
}

.grid-item {
    overflow: hidden;
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image1 {
    grid-area: 1 / 1 / 2 / 2;
}

.image2 {
    grid-area: 1 / 2 / 2 / 3;
}

.image3 {
    grid-area: 2 / 1 / 3 / 2;
}

.image4 {
    grid-area: 2 / 2 / 3 / 3;
}

button {
    margin: auto;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: larger;
}

.hidden
{
    visibility: hidden;
}

.number{
    color: var(--green);
}

footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    z-index: 99999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--blue);
    color: var(--white);
}
footer a {
    color: var(--yellow);
}

@media screen and (max-width: 800px) {
    section {
        max-width: 90%;
    }

    footer{
        position: inherit;
        flex-direction: column;
        height: fit-content;
    }
}

    